@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

*::-webkit-scrollbar {
  display: none;
}

body,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}

#selected-color-name {
  position: fixed;
  font-size: 8em;
  color: white;
  z-index: 2;
}

#palette {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
  min-height: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  flex-wrap: wrap;
  position: absolute;
  bottom: 3rem;
  background-color: rgb(242, 235, 235);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  box-shadow: inset 0.1rem 0.1rem 0.2rem #ffffff,
    inset -0.2rem -0.2rem 0.2rem #15151532, 0.2rem 0.3rem 0.5rem #2424245a;
}

#palette li {
  height: 3.5rem;
}

.color {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: inset 0.1rem 0.1rem 0.2rem #ffffff7e,
    inset -0.2rem -0.2rem 0.2rem #15151532, 0.2rem 0.3rem 0.5rem #2424248f;
}

.color:hover {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #10101032,
    inset -0.2rem -0.2rem 0.5rem #ffffff1e;
}

#shapes {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.shape {
  height: 13rem;
  width: 8rem;
  border-radius: 0.5rem;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: transform linear 7s 0.2s;
  -moz-transition: transform linear 7s 0.2s;
  -ms-transition: transform linear 7s 0.2s;
  -o-transition: transform linear 7s 0.2s;
  -webkit-transition: transform linear 7s 0.2s;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
